@import "../../../../../assets/scss/mixins.scss";

#featured {
  background: #f3f3f3;

  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @include sm {
      justify-content: center;
    }
  }
}
