@import "../../../../assets/scss/variables.scss";

section.top {
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    background: fade-out($color: $gray-background, $amount: 0.5);
  }

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .container {
    z-index: 10;

    h1 {
      font-weight: bold;
      color: black;
    }
  }
}
