@import "./breakpoints.scss";
@import "./variables.scss";

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button($background: $primary, $color: white) {
  background: $background;
  color: $color;
  border-radius: 3px;
  border: none;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms background-color;

  &:hover {
    background: darken($color: $background, $amount: 10%);
  }
}
