<footer>
  <div class="container padding-section">
    <p>
      Developed by
      <a target="_blank" href="https://www.fabriciobezerra.com"
        >Fabricio Bezerra</a
      >
    </p>
    <div class="icons-container">
      <a target="_blank" href="https://www.linkedin.com/in/fabricio-bezerra/"
        ><fa-icon [icon]="faLinkedin" size="2x"></fa-icon
      ></a>
      <a target="_blank" href="https://github.com/fbzr"
        ><fa-icon [icon]="faGithub" size="2x"></fa-icon
      ></a>
    </div>
  </div>
</footer>
