<div class="filters">
  <h2 class="title">Filters</h2>
  <!-- {{ filter | json }} -->
  <div class="input-container">
    <!-- name -->
    <div class="group">
      <label for="nameInput">Name: </label>
      <input
        placeholder="Search for a name"
        id="nameInput"
        #nameInput
        type="text"
        (blur)="handleFilter('name', nameInput.value)"
        (keyup.enter)="handleFilter('name', nameInput.value)"
      />
    </div>

    <!-- location -->
    <div class="group">
      <label for="cityInput">Location: </label>
      <app-autocomplete-input
        (setLocation)="handleFilter('location', $event)"
      ></app-autocomplete-input>
    </div>

    <!-- Type -->
    <div class="group" *ngIf="!isSpecificTypePage()">
      <label for="types">Type: </label>
      <select
        id="types"
        #animalType
        (change)="handleFilter('type', animalType.value)"
        *ngIf="types"
      >
        <option value="">All</option>
        <option *ngFor="let type of types" [value]="type.value">
          {{ type.name }}
        </option>
      </select>
    </div>
  </div>
</div>
