<section>
  <div>
    <div class="img-container">
      <img src="../../../../assets/img/login.jpg" alt="Dog using computer" />
    </div>
    <div class="login-container">
      <h1>Login</h1>
      <button class="button facebook">
        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>Continue with
        Facebook
      </button>
      <button class="button google">
        <fa-icon [icon]="faGoogle" class="icon"></fa-icon>Continue with Google
      </button>
    </div>
  </div>
</section>
