<section>
  <div>
    <div class="img-container">
      <img src="../../../../assets/img/login.jpg" alt="Dog using computer" />
    </div>
    <div class="login-container">
      <h1>Login</h1>
      <a class="button facebook" href={{facebookAuthUrl}}>
        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>Continue with
        Facebook
      </a>
      <!-- <a class="button google" href="https://petadopt-api.herokuapp.com/auth/facebook">
        <fa-icon [icon]="faGoogle" class="icon"></fa-icon>Continue with Google
      </a> -->
    </div>
  </div>
</section>
