<div class="card">
  <a href="#" [routerLink]="['/pet', pet.id]" [state]="{ pet: pet }">
    <div class="image-container">
      <img
        *ngIf="pet.photos.length"
        src="{{ pet.photos[0]['medium'] }}"
        alt="Pet photo"
      />
      <img
        *ngIf="!pet.photos.length"
        src="../../../../../assets/img/placeholder.jpg"
        alt="Pet photo"
      />
    </div>
    <div class="text-container">
      <h3 class="name">{{ pet.name }}</h3>
      <h6 class="location">
        {{ pet.contact.address.city }}, {{ pet.contact.address.state }}
      </h6>
      <p class="description">{{ pet.description }}</p>
    </div>
  </a>
</div>
