<div class="pagination">
  <button
    class="link"
    [class.disabled]="data['current_page'] === 1"
    href="#featured"
    (click)="data['current_page'] > 1 && handlePrev()"
  >
    Prev
  </button>

  <div class="numbered-pages" *ngIf="pages">
    <button
      *ngFor="let page of pages"
      class="link"
      [class.current-page]="page === data['current_page']"
      (click)="handlePageNumber(page)"
    >
      {{ page }}
    </button>
  </div>

  <button
    class="link"
    [class.disabled]="data['current_page'] === data['total_pages']"
    href="./#featured"
    (click)="data['current_page'] < data['total_pages'] && handleNext()"
  >
    Next
  </button>

  <!-- <pre>{{ data | json }}</pre> -->
</div>
