<div class="pagination">
  <a
    class="link"
    [class.disabled]="data['current_page'] === 1"
    (click)="data['current_page'] > 1 && handlePrev()"
    >Prev</a
  >

  <div class="numbered-pages" *ngIf="pages">
    <a
      *ngFor="let page of pages"
      class="link"
      [class.current-page]="page === data['current_page']"
      (click)="handlePageNumber(page)"
      >{{ page }}</a
    >
  </div>

  <a
    class="link"
    [class.disabled]="data['current_page'] === data['total_pages']"
    (click)="data['current_page'] < data['total_pages'] && handleNext()"
    >Next</a
  >

  <!-- <pre>{{ data | json }}</pre> -->
</div>
