@import "../../../assets/scss/variables.scss";

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    text-decoration: none;
    color: black;
    background: none;
    padding: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms background, color;

    outline: none;

    &:hover {
      background: $primary;
      color: white;
    }

    &.current-page {
      border-bottom: $primary 3px solid;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      font-weight: bold;
    }

    &.disabled {
      color: #999;

      &:hover {
        background: none;
        color: none;
        cursor: default;
      }
    }
  }
}
