@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

#featured {
  background: $gray-background;

  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @include sm {
      justify-content: center;
    }

    .pet-card {
      max-width: 100%;
    }
  }

  .loading {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
