@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

section.top {
  height: calc(100vh - 57px);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    z-index: -1;
  }

  .cta-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include sm {
      height: 80%;
    }

    h1 {
      font-weight: bold;
      margin-bottom: 0.2rem;

      @include lg {
        max-width: 320px;
      }

      @include md {
        max-width: 290px;
      }

      @include sm {
        max-width: 200px;
      }
    }

    .description {
      margin-bottom: 1.5rem;

      @include lg {
        max-width: 300px;
      }

      @include md {
        max-width: 300px;
      }

      @include sm {
        max-width: 160px;
      }
    }

    a {
      background: $primary;
      color: white;
      border-radius: 3px;
      padding: 0.5rem 2.5rem;
      text-decoration: none;

      &:hover {
        background: darken($color: $primary, $amount: 10%);
      }
    }
  }
}

section.type-selection {
  .links-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    a {
      background: $primary;
      padding: 1rem;
      margin: 1rem 0;
      text-decoration: none;
      color: white;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 200px;

      @include md {
        flex-direction: column;
      }

      @include sm {
        padding: 0.8rem;
      }

      &:hover {
        background: darken($color: $primary, $amount: 10%);
      }

      img {
        width: 90px;
        height: 90px;
        object-fit: contain;

        @include sm {
          width: 60px;
          height: auto;
        }
      }

      h2 {
        font-weight: bold;

        @include sm {
          font-size: 1.4rem;
        }
      }
    }
  }
}
