<div>
  <section class="top">
    <img
      src="./assets/img/background.jpg"
      alt="Background image (Dog inside a cardbox)"
    />
    <div class="container cta-text">
      <h1>Find Your Best Friend</h1>
      <h3 class="description">Your new BFF is just one click away</h3>
      <button class="button" (click)="handleSearchClick()">Search</button>
    </div>
  </section>
  <section class="type-selection container">
    <div class="links-container padding-section">
      <a href="#" routerLink="/dogs">
        <img src="../../../../assets/img/dog.png" alt="Dog" />
        <h2>Dogs</h2>
      </a>
      <a href="#" routerLink="/cats">
        <img src="../../../../assets/img/cat.png" alt="Cat" />
        <h2>Cats</h2>
      </a>
      <!-- <a href="#" routerLink="/others">
        <img src="../../../../assets/img/hamster.png" alt="Hamster" />
        <h2>Others</h2>
      </a> -->
    </div>
  </section>
  <!-- <app-search></app-search> -->
  <app-featured-pets></app-featured-pets>
</div>
