<section>
  <div *ngIf="pet" class="container padding-section">
    <div class="header">
      <h1>{{ pet.name }}</h1>
      <div class="sub-header">
        <h3>{{ pet.contact.address.city }}, {{ pet.contact.address.state }}</h3>
      </div>
    </div>
    <div class="content">
      <div class="col info-container">
        <div class="info">
          <h3>
            {{ pet.age }} | {{ pet.gender }} | {{ pet.size }} |
            {{ pet.colors.primary }}
          </h3>
          <h5>Status: {{ pet.status }}</h5>
        </div>

        <div class="org-info">
          <h3>Contact</h3>
          <p>{{ pet.contact.email }}</p>
          <p>{{ pet.contact.phone }}</p>
          <p>{{ pet.contact.address.address1 }}</p>
          <p>{{ pet.contact.address.city }}, {{ pet.contact.address.state }}</p>
        </div>
        <a class="button" href="{{ pet.url }}" target="_blank">More info</a>
      </div>
      <img
        class="primary-photo col"
        *ngIf="pet.primary_photo_cropped.medium"
        src="{{ pet.primary_photo_cropped.medium }}"
        alt="{{ pet.name }} photo"
      />
    </div>

    <pre>
      {{ organization | json }}
    </pre>
  </div>
</section>
